@model Projet.ViewModels.PageRechercheViewModel

@{
    Layout = "_Layout";
}

<div class="container mt-4">
    <div class="border p-3 mb-4 bg-primary text-white">
        <h2 class="custom-heading-style">Recherche modele avions</h2>
    </div>

    <a href="@Url.Action("CreateEnfant", "Enfant")" class="btn btn-success mb-3">
        <i class="fas fa-plus"></i> Ajouter Enfant
    </a>

    <form method="get" action="@Url.Action("Recherche", "Enfant")">
        <!-- ... Vos champs de formulaire ici ... -->
    </form>

   <div class="row mt-4">
        @foreach (var enfant in Model.Resultats)
        {
            @Html.Partial("_EnfantCardPartial", enfant)
        }
</div>


    @if (Model.Criteres.ParentFilter)
    {
            <div class="row mt-4">
                <div class="col-md-12">
                    <ul class="pagination justify-content-center">
                        <!-- ... Pagination ici ... -->
                    </ul>
                </div>
            </div>
    }
</div>
