@model List<Projet.Models.Parent>

<div class="container mt-4">
    <div class="border p-3 mb-4 bg-primary text-white">
        <h2>Marque avions</h2>
    </div>

    <!-- Bouton Ajouter Parent pour l'ensemble de la page -->
    <div class="d-flex justify-content-end mt-3">
        <a href="@Url.Action("CreateParent", "Home")" class="btn btn-success">
            <i class="fas fa-plus"></i> Ajouter Parent
        </a>
    </div>

    <div class="row">
        <!-- Utilisation de la vue partielle pour chaque parent -->
        @foreach (var parent in Model)
        {
            @Html.Partial("_MarqueAvionPartial", parent)
        }
    </div>
</div>
