@model List<Projet.Models.Parent>

<div class="container mt-4">
    <div class="border p-3 mb-4 bg-primary text-white">
        <h2>Marque avions</h2>
    </div>

    <div class="row">
        <!-- Utilisation de la vue partielle pour chaque parent -->
        @foreach (var parent in Model)
        {
            @Html.Partial("_MarqueAvionPartial", parent)
        }
    </div>
</div>